apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: xbid-postgres
spec:
  instances: 2
  bootstrap:
    initdb:
      database: xbid
      owner: xbid
      postInitApplicationSQLRefs:
        configMapRefs:
          - name: xbid-database-bootstrap
            key: 001-app-schema.sql
  storage:
    storageClass: do-block-storage-retain
    size: 50Gi
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: "2"
      memory: 4Gi
  affinity:
    enablePodAntiAffinity: true
    topologyKey: kubernetes.io/hostname
